{% extends 'soccer/base.html' %}
{% load index %}
{% load bootstrap4 %}

{% block title %}Soccer Matchs(Korea){% endblock %}

{% block content %}


<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Home</th>
            <th scope="col"></th>
            <th scope="col">-</th>
            <th scope="col"></th>
            <th scope="col">Away</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
	{% for match in matchs %}
	<tr>
            <td colspan=7>{{match.date}}</td>
        </tr>
        <tr>
            <td> </td>
            <td>{{match.home}}</td>
            <td>{{match.hscore}}</td>
            <td>vs</td>
            <td>{{match.ascore}}</td>
            <td>{{match.away}}</td>
	    <!--<td>{{matchs|index:forloop.counter0}}</td>-->
	    <td> </td>
        </tr>
        <tr>
            <td colspan=7></td>
        </tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}

