{% extends 'soccer/base.html' %}
{% load bootstrap4 %}

{% block title %}Soccer Prediction{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Home</th>
            <th scope="col"></th>
            <th scope="col">-</th>
            <th scope="col"></th>
            <th scope="col">Away</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
	{% for match in matchs %}
	<!--
        <tr>
            <td></td>
            <td></td>
            <td></td>
		<th scope="row"> {{match.date }} </th>
            <td></td>
            <td></td>
            <td></td>
    	</tr>
        -->
	<tr>
                <td> </td>
		<td>{{match.home}}</td>
		<td>{{match.hscore}}</td>
       	 	<td>vs</td>
		<td>{{match.ascore}}</td>
		<td>{{match.away}}</td>
                <td> </td>
    	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}

