<style>
.match {
  position : relative;
  width : 100%;
  height : 70px;
  cursor : pointer;
  display : block;
}
.match_team1_logo {
  position: absolute;
  width : 30px;
  height : 30px;
  top : 20px;
  left : 20px;
}
.match_team2_logo {
  position: absolute;
  width : 30px;
  height : 30px;
  top : 20px;
  right : 20px;
}
.match_team1_name{
  position : absolute;
  top : 22px;
  height : 20px;
  right : 50%;
  margin-right : 10px;
  color : black;
  font-size : 13px;
}
.match_team2_name{
  position : absolute;
  top : 22px;
  height : 20px;
  left : 50%;
  margin-left : 10px;
  color : black;
  font-size : 13px;
}
.match_center_devider_left{
  position : absolute;
  width : 1px;
  height : 40px;
  top : 20px;
  margin-right : 50%;
  left : -0.5px;
  background-color : #eeeeee;
}
.match_center_devider_right{
  position : absolute;
  width : 1px;
  height : 40px;
  top : 20px;
  margin-left : 50%;
  background-color : #e2e3e7;
}
.match_time{
  position : absolute;
  width : 100%;
  height : 20px;
  top : 2px;
  text-align : center;
  text-color : black;
  font-size : 13px;
}
.match_team1_score{
  position : absolute;
  top : 42px;
  height : 20px;
  right : 50%;
  margin-right : 10px;
  font-size : 15px;
  text-color : black;
}
.match_team2_score{
  position : absolute;
  top : 42px;
  height : 20px;
  left : 50%;
  margin-left : 10px;
  font-size : 15px;
  text-color : black;
}
</style>
<div class="container">
  <div class="match">
    <img class="match_team1_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <img class="match_team2_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <div class="match_team1_name">A</div>
    <div class="match_team2_name">B</div>
    <div class="match_center_devider_right"></div>
    <div class="match_team1_score">3</div>
    <div class="match_team2_score">1</div>
  </div>
  <div class="match">
    <img class="match_team1_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <img class="match_team2_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <div class="match_team1_name">A</div>
    <div class="match_team2_name">B</div>
    <div class="match_center_devider_right"></div>
    <div class="match_team1_score">3</div>
    <div class="match_team2_score">1</div>
  </div>
  <div class="match">
    <img class="match_team1_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <img class="match_team2_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <div class="match_team1_name">A</div>
    <div class="match_team2_name">B</div>
    <div class="match_center_devider_right"></div>
    <div class="match_team1_score">3</div>
    <div class="match_team2_score">1</div>
  </div>
  <div class="match">
    <img class="match_team1_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <img class="match_team2_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <div class="match_team1_name">A</div>
    <div class="match_team2_name">B</div>
    <div class="match_center_devider_right"></div>
    <div class="match_team1_score">3</div>
    <div class="match_team2_score">1</div>
  </div>
  <div class="match">
    <img class="match_team1_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <img class="match_team2_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <div class="match_team1_name">A</div>
    <div class="match_team2_name">B</div>
    <div class="match_center_devider_right"></div>
    <div class="match_team1_score">3</div>
    <div class="match_team2_score">1</div>
  </div>
  <div class="match">
    <img class="match_team1_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <img class="match_team2_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <div class="match_team1_name">A</div>
    <div class="match_team2_name">B</div>
    <div class="match_center_devider_right"></div>
    <div class="match_team1_score">3</div>
    <div class="match_team2_score">1</div>
  </div>
  <div class="match">
    <img class="match_team1_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <img class="match_team2_logo" src="http://www.pngmart.com/files/4/Circle-PNG-File.png">
    <div class="match_team1_name">A</div>
    <div class="match_team2_name">B</div>
    <div class="match_center_devider_right"></div>
    <div class="match_team1_score">3</div>
    <div class="match_team2_score">1</div>
  </div>
</div>
