{% extends 'soccer/bootstrap.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}
    <div class="container">
        <h1>{% block title %}No Japan{% endblock %}</h1>


        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-8082243736281483", enable_page_level_ads: true});
        </script>
        <div class="row" id="product-filter">
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Sony_logo.svg/300px-Sony_logo.svg.png"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>소니</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img
                        src="https://w.namu.la/s/8a8594beee0906b9951d236493dbe2e034fb17e0c53e3a5f5bac72e540ba08be27e562d1b5705f73a7e714d9397922087636201804d971d1f8f6bbc147b30b7dc43e0c1c083b2b1b16ef750938b21abc875a3425118bea8b814a8d1c4341b9c5"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>히타치</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img
                        src="https://ww.namu.la/s/3170b6c9c8bec7a7dce99bc8f0a6c99b7151731ed33d67b702aa8385b2a4d166bcc69b928f94c369f58a4683c50fbe78e4ea13145bc0462f61a7b6fb4045432f33ad7f8410ee0e64e2c480d7f0f779ea3234a21ffddeab70a428a4bbf56b31a9"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>파나소닉</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img
                        src="https://ww.namu.la/s/5ffa61cfb65db00810ca82e43cb795c4a6890e55510dfcdfe1dd168d81dddcb4765c8a426d384055ddaa8e61baa08f0dd704718cf44d49ad8982909d0f276c3aa45640991917529a09ecede2ac19ed0dc31553c2ffe7a54437a6f6d8b43e4eb1"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>도시바</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Sanyo_logo.svg/300px-Sanyo_logo.svg.png"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>산요</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/JVC_Logo.svg/300px-JVC_Logo.svg.png"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>JVC</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img 
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/TDK_wordmark.svg/300px-TDK_wordmark.svg.png"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>TDK</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img 
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Logo_of_the_Sharp_Corporation.svg/300px-Logo_of_the_Sharp_Corporation.svg.png"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>샤프</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 electronic">
                <div class="product-item">
                    <figure>
                        <img 
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Rinnai.gif/95px-Rinnai.gif"
                        width = "264"  alt="">
                    </figure>
                    <div class="product-info">
                        <h6>린나수정(린나이)</h6>
                    </div>
                </div>
            </div>
            <div class="mix col-lg-3 col-md-6 camera">
                니콘
            </div>
            <div class="mix col-lg-3 col-md-6 camera">
                캐논
            </div>
            <div class="mix col-lg-3 col-md-6 camera">
                올림푸스
            </div>
            <div class="mix col-lg-3 col-md-6 camera">
                후지
            </div>
            <div class="mix col-lg-3 col-md-6 camera">
                소니
            </div>
            <div class="mix col-lg-3 col-md-6 car">
                도요타(렉서스)
            </div>
            <div class="mix col-lg-3 col-md-6 car">
                혼다
            </div>
            <div class="mix col-lg-3 col-md-6 car">
                닛산(인피니티)
            </div>
            <div class="mix col-lg-3 col-md-6 car">
                미쓰비시
            </div>
            <div class="mix col-lg-3 col-md-6 car">
                마쓰다
            </div>
            <div class="mix col-lg-3 col-md-6 car">
                마쓰시다
            </div>
            <div class="mix col-lg-3 col-md-6 car">
                스바루
            </div>
            <div class="mix col-lg-3 col-md-6 car">
                이스즈
            </div>
            <div class="mix col-lg-3 col-md-6 instrument">
                야마하
            </div>
            <div class="mix col-lg-3 col-md-6 instrunment">
                KORG
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                아식스
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                미즈노
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                데쌍트
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                요넥스
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                유니클로
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                무인양품
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                ABC마트
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                겐조
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                요지야마모토
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                이세이 미야케
            </div>
            <div class="mix col-lg-3 col-md-6 cloth">
                꼼데 가르송
            </div>
            <div class="mix col-lg-3 col-md-6 mart">
                세븐일레븐
            </div>
            <div class="mix col-lg-3 col-md-6 mart">
                일본 훼미리마트(CU 아님 주의)
            </div>
            <div class="mix col-lg-3 col-md-6 drinking">
                포카리 스웨트
            </div>
            <div class="mix col-lg-3 col-md-6 drinking">
                조지아
            </div>
            <div class="mix col-lg-3 col-md-6 cosmetic">
               시세이도
            </div>
            <div class="mix col-lg-3 col-md-6 cosmetic">
                슈에무라
            </div>
            <div class="mix col-lg-3 col-md-6 cosmetic">
                SK-2
            </div>
            <div class="mix col-lg-3 col-md-6 cosmetic">
                DHC
            </div>
            <div class="mix col-lg-3 col-md-6 cosmetic">
                가스비
            </div>
            <div class="mix col-lg-3 col-md-6 cosmetic">
                CJ라이온
            </div>
            <div class="mix col-lg-3 col-md-6 cosmetic">
                오츠카제약(우르오스. 네이쳐메이드)
            </div>
            <div class="mix col-lg-3 col-md-6 bank">
                친애저축은행
            </div>
            <div class="mix col-lg-3 col-md-6 bank">
                산와머니
            </div>
            <div class="mix col-lg-3 col-md-6 bank">
                러시앤캐시
            </div>
            <div class="mix col-lg-3 col-md-6 bank">
                SBI저축은행
            </div>
            <div class="mix col-lg-3 col-md-6 alchol">
                아사히
            </div>
            <div class="mix col-lg-3 col-md-6 alchol">
                기린
            </div>
            <div class="mix col-lg-3 col-md-6 alchol">
                삿포로
            </div>
            <div class="mix col-lg-3 col-md-6 alchol">
                산토리
            </div>
            <div class="mix col-lg-3 col-md-6 alchol">
                오리온
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}
